- unless @scope.blank?
  %nav.navbar.navbar-default(role="navigation")
    .container
      .navbar-header
        .navbar-brand= "#{collection.model_name}-#{@type}"
      .collapse.navbar-collapse
        .btn-group
          - @scopes.each do |key|
            - unless key == @type
              =link_to collection.model_name.name.constantize.human_attribute_name("names/#{@type}.#{key}"), url_for(action: "index", controller: @grid.class.name.underscore, scope: key), class: "btn btn-default navbar-btn #{:active if key == @scope}"

.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %a(href="#filter-form" data-toggle="collapse")
            %i.fa.fa-gear
          = page_entries_info @assets

          .ibox-tools
            = show_action :new
        .ibox-content
          #filter-form.content.collapse
            = datagrid_form_for @grid, url: url_for(action: :index), partials: "quick_grid"
            %hr

          = paginate @assets
          = datagrid_table @grid, @assets, partials: "quick_grid"
          = paginate @assets
