= form_for grid, options.merge(html:{class: 'ui fluid form small'}) do |f|
  .six.fields
    - grid.filters.each do |filter|
      - label_name = filter.header
      - if filter.form_builder_helper_name.to_s == 'datagrid_enum_filter'
        - filter.options.reverse_merge!(class: 'ui dropdown search', prompt: label_name)
      .field
        = f.datagrid_filter filter, placeholder: label_name
  - unless @scopes.blank?
    .datagrid-filter.filter.form-group.hidden
      %label = @type
      = select_tag(@type.to_sym, options_for_select(@scopes.map {|item| [item, item]}, @scope), class: "form-control #{@type} enum_filter")
  = f.submit I18n.t("datagrid.form.search"), class: "ui button"
  = link_to I18n.t('datagrid.form.reset'), url_for(grid.to_param => {}), :class => "datagrid-reset ui button"
