!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = display_meta_tags site: t("site.name"), reverse: true
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
  - body_id = 'body-%s-%s' % [controller_name, action_name]
  %body.pushable
    #toc.ui.vertical.menu.sidebar.left
      = link_to t("site.name"), root_path, class: %w(brand item)
      = render 'layouts/menu' rescue nil
    #topbar.ui.fixed.main.menu
      .container
        %a.launch.item.toggle
          %i.content.icon
          Menu
    .pusher
      .main.container
        .ui.segment
          = content_for?(:content) ? yield(:content) : yield 